
#sidebar {
    background: white;
    z-index: 999;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 300px;
    padding: 2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.bottom-buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 30px 40px 30px;
}

button {
    width: 75px;
}