.eventFormInfo {
    z-index: 999;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 300px;
}


.Countdown{
    margin: 0px auto;
    padding-bottom: 5px;
    text-align: center;
}

.Countdown-col{
    display: inline-block;
}

.Countdown-col-element{
    display: inline-block;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
}

.Countdown-col-element strong{
    text-align: center;
    font-size: 15px;
    width: 30px;
    height: 18px;
}

.bottom-buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 30px 40px 30px;
}

button {
    width: 75px;
}